<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>bankingAccount</param-name>
        <param-value>BaeCare</param-value>
    </context-param>
    <context-param>
        <param-name>nameBank</param-name>
        <param-value>MB Bank</param-value>
    </context-param>
    <context-param>
        <param-name>number</param-name>
        <param-value>7979200188888</param-value>
    </context-param>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>Control.Homepage.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>Control.User.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchController</servlet-name>
        <servlet-class>Control.User.UserSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetails</servlet-name>
        <servlet-class>Control.User.UserDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Control.User.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Control.Login.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationEmail</servlet-name>
        <servlet-class>Control.Login.VerificationEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>Control.Login.ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterNewPass</servlet-name>
        <servlet-class>Control.Login.EnterNewPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Control.Login.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>Control.User.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DemoAdmin</servlet-name>
        <servlet-class>Control.User.DemoAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceListController</servlet-name>
        <servlet-class>Control.Service.controlService.ServiceListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Control.Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>Control.Service.controlService.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditService</servlet-name>
        <servlet-class>Control.Service.controlService.EditService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetail</servlet-name>
        <servlet-class>Control.Service.controlService.ServiceDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackListController</servlet-name>
        <servlet-class>Control.Feedback.FeedbackListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlideController</servlet-name>
        <servlet-class>Control.Homepage.SlideController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationController</servlet-name>
        <servlet-class>Control.cart.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReservation</servlet-name>
        <servlet-class>Control.Reservation.DeleteReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationContactController</servlet-name>
        <servlet-class>Control.Reservation.ReservationContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceForCustomer</servlet-name>
        <servlet-class>Control.Service.viewService.ServiceForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailForUser</servlet-name>
        <servlet-class>Control.Service.viewService.ServiceDetailForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedback</servlet-name>
        <servlet-class>Control.Feedback.EditFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedback</servlet-name>
        <servlet-class>Control.Feedback.AddFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>Control.Homepage.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetal</servlet-name>
        <servlet-class>Control.Homepage.PostDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCart</servlet-name>
        <servlet-class>Control.cart.AddServiceToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Control.Login.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Control.Service.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfile</servlet-name>
        <servlet-class>Control.doctor.DoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostsListController</servlet-name>
        <servlet-class>Control.Post.PostsListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPostController</servlet-name>
        <servlet-class>Control.Post.EditPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailController</servlet-name>
        <servlet-class>Control.Post.PostDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPostController</servlet-name>
        <servlet-class>Control.Post.AddPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostController</servlet-name>
        <servlet-class>Control.Post.DeletePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyReservation</servlet-name>
        <servlet-class>Control.Reservation.MyReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationDetail</servlet-name>
        <servlet-class>Control.Reservation.ReservationDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlideDetail</servlet-name>
        <servlet-class>Control.Homepage.SlideDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationCompletion</servlet-name>
        <servlet-class>Control.Reservation.ReservationCompletion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicalControlForUser</servlet-name>
        <servlet-class>Control.medical.MedicalControlForUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorExamine</servlet-name>
        <servlet-class>Control.medical.MedicalPrescriptInExamining</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getOptionFilter</servlet-name>
        <servlet-class>Control.medical.getOptionFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFeedback</servlet-name>
        <servlet-class>Control.Feedback.ManageFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDetail</servlet-name>
        <servlet-class>Control.Feedback.ManageDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomersListController</servlet-name>
        <servlet-class>Control.User.CustomersListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetailsController</servlet-name>
        <servlet-class>Control.User.CustomerDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerController</servlet-name>
        <servlet-class>Control.User.EditCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerController</servlet-name>
        <servlet-class>Control.User.AddCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationListController</servlet-name>
        <servlet-class>Control.Reservation.ReservationListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationDetailController</servlet-name>
        <servlet-class>Control.Reservation.ReservationDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorController</servlet-name>
        <servlet-class>Control.Homepage.DoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorDetail</servlet-name>
        <servlet-class>Control.Homepage.DoctorDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreController</servlet-name>
        <servlet-class>Control.Homepage.LoadMoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDoctor</servlet-name>
        <servlet-class>Control.Homepage.SearchDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>Control.Reservation.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineManager</servlet-name>
        <servlet-class>Control.medical.MedicineManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMedicine</servlet-name>
        <servlet-class>Control.medical.EditMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicine</servlet-name>
        <servlet-class>Control.medical.AddMedicine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMedicine</servlet-name>
        <servlet-class>Control.medical.DeleteMedicine</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerController</servlet-name>
        <url-pattern>/manager/addcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/user/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchController</servlet-name>
        <url-pattern>/user/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetails</servlet-name>
        <url-pattern>/user/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationEmail</servlet-name>
        <url-pattern>/verificationRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/ResetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterNewPass</servlet-name>
        <url-pattern>/EnterNewPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DemoAdmin</servlet-name>
        <url-pattern>/demoAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceListController</servlet-name>
        <url-pattern>/service/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/service/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditService</servlet-name>
        <url-pattern>/service/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetail</servlet-name>
        <url-pattern>/service/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackListController</servlet-name>
        <url-pattern>/feedback/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlideController</servlet-name>
        <url-pattern>/slideController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationController</servlet-name>
        <url-pattern>/Reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReservation</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationContactController</servlet-name>
        <url-pattern>/reservation/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceForCustomer</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailForUser</servlet-name>
        <url-pattern>/servicedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedback</servlet-name>
        <url-pattern>/feedback/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedback</servlet-name>
        <url-pattern>/feedback/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetal</servlet-name>
        <url-pattern>/postDetal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCart</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/service/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfile</servlet-name>
        <url-pattern>/DoctorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostsListController</servlet-name>
        <url-pattern>/manager/postslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPostController</servlet-name>
        <url-pattern>/manager/editpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailController</servlet-name>
        <url-pattern>/manager/postdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPostController</servlet-name>
        <url-pattern>/manager/addpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostController</servlet-name>
        <url-pattern>/manager/deletepost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyReservation</servlet-name>
        <url-pattern>/myorder/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationDetail</servlet-name>
        <url-pattern>/myorder/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlideDetail</servlet-name>
        <url-pattern>/slide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationCompletion</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicalControlForUser</servlet-name>
        <url-pattern>/MedicalControlForUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorExamine</servlet-name>
        <url-pattern>/doctor/exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getOptionFilter</servlet-name>
        <url-pattern>/getOptionFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFeedback</servlet-name>
        <url-pattern>/mfeedback/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDetail</servlet-name>
        <url-pattern>/mfeedback/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomersListController</servlet-name>
        <url-pattern>/manager/customerslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetailsController</servlet-name>
        <url-pattern>/manager/customerdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerController</servlet-name>
        <url-pattern>/manager/editcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorController</servlet-name>
        <url-pattern>/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorDetail</servlet-name>
        <url-pattern>/doctorDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreController</servlet-name>
        <url-pattern>/load</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDoctor</servlet-name>
        <url-pattern>/searchDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationListController</servlet-name>
        <url-pattern>/reservation/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationDetailController</servlet-name>
        <url-pattern>/reservation/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/OrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineManager</servlet-name>
        <url-pattern>/medicine/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMedicine</servlet-name>
        <url-pattern>/medicine/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicine</servlet-name>
        <url-pattern>/medicine/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMedicine</servlet-name>
        <url-pattern>/medicine/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1000000
        </session-timeout>
    </session-config>
</web-app>
